<div class="items">
 {{#each albuns}}
 <div class="item">
		<img class="cover smb" src="{{this.cover}}" width=225 height=225 />
		<div class="author">{{this.author}}</div>
		<div class="title">{{this.title}}</div>
		<div class="prices">{{this.prices}}</div>
		<div class="releases">
		{{#each this.releases}}
			<div class="release">
				<span class="type">{{this.type}}</span> <span class="price">{{this.price}} €</span>
			</div>
		{{/each}}
		</div>
		<div class="actionButtons mmt">
			<a class="btn btn-primary xsmb detailsBtn" href="details.html">view details</a>
			{{#unless this.releaseCount}}
				<a class="btn btn-primary xsmb buyBtn singleChoice" href="buy.html">Add <b>{{this.releases.0.type}}</b> to Cart</a>
			{{else}}
			<a type="button" class="btn btn-primary buyBtn multipleChoice" data-container=".item" data-toggle="popover" role="button" tabindex="0" data-html="true" data-placement="bottom" data-content=" Pick format:<br/>
			
			{{#each this.releases}}
				<a href='buy.html'>{{this.type}}</a><br/>
			{{/each}}
			">
			  Add to Cart
			</a>
			{{/unless}}

		</div>
	</div>
	{{/each}}
	
</div>